<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Bev</title>
  </head>
  <body>
    <h1>New Beverage</h1>

    <form class="" action="/beverages/new" id="newbev" method="post">
      <label for="name">Beverage Name:</label>
      <input type="text" name="name" value="">

      <br></br>

      <label for="rating">Select a category:</label>
      <br></br>
      <input type="radio" name="category" value="wine">Wine</input>
      <input type="radio" name="category" value="beer">Beer</input>
      <input type="radio" name="category" value="cockatil">Cocktail</input>
      <input type="radio" name="category" value="whiskey">Whiskey</input>
      <input type="radio" name="category" value="vodka">Vodka</input>
      <input type="radio" name="category" value="gin">Gin</input>
      <input type="radio" name="category" value="rum">Rum</input>
      <input type="radio" name="category" value="tequila">Tequila</input>
      <input type="radio" name="category" value="other">Other</input>


      <br></br>

      <label for="rating">Select a rating:</label>
      <br></br>
      <input type="radio" name="rating" value="1">1</input>
      <input type="radio" name="rating" value="2">2</input>
      <input type="radio" name="rating" value="3">3</input>
      <input type="radio" name="rating" value="4">4</input>
      <input type="radio" name="rating" value="5">5</input>

      <br></br>

      <label for="comments">Comments:</label>
      <br></br>
      <textarea name="comments" form="newbev" rows="8" cols="80"></textarea>

      <br></br>

      <input type="submit" name="" value="Submit">

    </form>
    <form class="" action="/" method="get">
      <input type="submit" name="" value="Cancel">
    </form>
  </body>
</html>
