<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <!--
    <h1>Login</h1>
    <%if !!@user%>
    <p>Invalid User and/or Password, please re-enter</p>
    <%end%>
  -->
    <form class="" action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" value="">

      <br></br>

      <label for="password">Password:</label>
      <input type="text" name="password" value="">

      <br></br>

      <input type="submit" name="" value="Login">

    </form>
  </body>
</html>
