<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1><%=show_greeting%></h1>
    <p>Reviewed Beverages:</p>
    <ul>
      <%displayed_user_bevs(params[:id]).each do |bev_obj|%>
      <li><a href="beverages/<%=bev_obj.id%>"><%=bev_obj.name%></a></li>
      <%end%>
    </ul>
    <form class="" action="/users/<%=this_user.id%>/logout" method="post">
      <input type="submit" name="" value="Logout">
    </form>

  </body>
</html>
