<h1>Welcome to the BevTracker.</h1>

<h3>Use this app to keep track of your favorite drinks while you're out and about!</h3>

<form class="" action="/login" method="get">
  <input type="submit" name="" value="Log In">
</form>
<form class="" action="/signup" method="get">
  <input type="submit" name="" value="Sign Up">
</form>
