<h1>Welcome to the BevTracker.</h1>

<h3>Use this app to keep track of your favorite drinks while you're out and about!</h3>

<%if !logged_in?%>
<form class="" action="/login" method="get">
  <input type="submit" name="" value="Log In">
</form>
<form class="" action="/signup" method="get">
  <input type="submit" name="" value="Sign Up">
</form>

<br></br>
<%else%>
<h4>User favorites:</h4>
  <%sort_bevs_by_rank.each do |bev_obj|%>
    <p><a href="/beverages/<%=bev_obj.id%>"><%=bev_obj.name%></a></p>
  <%end%>
<%end %>

<%if logged_in?%>
  <form class="" action="/users/<%=this_user.id%>" method="get">
    <input type="submit" name="" value="Home">
  </form>

  <form class="" action="/users/10/logout" method="post">
    <input type="submit" name="" value="Logout">
  </form>
<%end%>
